<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p>
        <a class="btn btn-primary btn-lg" href="/scrape" role="button">Get New Data!</a>
      </p>

    </div>

    {% for mars_data in mars %}
       <h3>Latest Mars News</h3>
        <h4 class="card-title">{{ mars_data.news_title}}</h4>
        <p class="card-text">{{ mars_data.news_content }}</p>

        <h3>Featured Mars Image</h3>
        <img src="{{mars_data["featured_image_url"]}}" alt="">
        <h5>Current Weather on Mars</h5>
        <p> {{ mars_data.mars_weather }}</p>
        <h5>Mars Facts</h5>
        {{mars_data.fact_table|safe}}
        <div class="container">
          
        <h3 class="text-center">Mars Hemispheres</h3>
        <div class="col-md-4 col-xs-12 viz" align="center"></div>
        <div class="row">
          <div class="column">
        <h3>{{mars_data["hemisphere_image_urls"][0]["title"]}} </h3>
        <img src="{{mars_data["hemisphere_image_urls"][0]["img_url"]}}" alt="{{mars_data["hemisphere_image_urls"][0]["title"]}}">
          </div>
          <div class="column">
        <h3>{{mars_data["hemisphere_image_urls"][1]["title"]}} </h3>
        <img src="{{mars_data["hemisphere_image_urls"][1]["img_url"]}}" alt="{{mars_data["hemisphere_image_urls"][1]["title"]}}">
      </div>
          <div class="column">
        <h3>{{mars_data["hemisphere_image_urls"][2]["title"]}} </h3>
        <img src="{{mars_data["hemisphere_image_urls"][2]["img_url"]}}" alt="{{mars_data["hemisphere_image_urls"][2]["title"]}}">
      </div>
          <div class="column">
        <h3>{{mars_data["hemisphere_image_urls"][3]["title"]}} </h3>
        <img src="{{mars_data["hemisphere_image_urls"][3]["img_url"]}}" alt="{{mars_data["hemisphere_image_urls"][3]["title"]}}">
        </div>
      </div>
      </div>
        {% endfor %}

  </div>

</body>

</html>